<!DOCTYPE html>
<html lang="en"> 

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA Compatabile" content="IE=edge">
    <meta name="viewport" content="width-=device-width, intial-scale=1.0">
    <title>Form Submit with Fetch API</title>

<body>
    <form id="form">
        <input name="name" type="text">
        <input name="email" type="text">
        <input name="content" type="text">
        <button type="submit">Submit</button>
    </form>
</body>

<script>
    const form = document.getElementByID('form');
    form.addEventListener('submit', function(e) {
        e.preventDefault();

        const prePayload = new FormData(form);
        const payload = new URLSearchParams(prePayload);

        console.log([...payload])

        fetch('http://104.131.10.43:5000/', {
            method; "POST", 
            body: payload,
        })
        .then(res => res.json())
        .then(data => console.log(data))
        .catch(err => console.log(err))
        
    })
</script>
</body>

</html>
