<!DOCTYPE html>
<html lang="en">
<head>
    {% include "main/header.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    <h1>Create a Post: </h1>
    <form>

    <!--- Name of person --->
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value=""><br>

     <!--- Person's email --->
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value=""><br>

    <!--- Content of Post --->
    <label for="content">Content:</label><br>
    <input type="text" id="content" email="content" value=""><br>

     <!--- Submitting post --->
     <button type="button">Submit</button>



     <script>
    const form = document.getElementById('form')
    form.addEventListener('submit' , function() {
    e.preventDefault();
    const prepayload = new FormData(form);
    const payload = new URLSearchParams(payload);
    fetch('/api/timeline_post') ,{method: "POST", body: payload
    }
    .then(res => res.json())
    .then(data => console.log(data))
    .then(err => console.log(error))
        
    })
    
     </script>
    
    </form>
</body>
</html>