<!DOCTYPE html>
<html>
    <head>
       {% include "main/header.html" %}
    </head>

    <body>
        {% include "navbar.html" %}

        <h2>Timeline</h2>
        
        <form id="form">
            <label for="fullname">Name:</label><br>
            <input name="fullname" type="text" id="fullname"><br>
            <label for="email">Email:</label><br>
            <input name="email" type="text" id="email"><br>
            <label for="content">Content:</label><br>
            <input name="content" type="text" id="content"><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>